{% import "Layout/Templates/macros.html.twig" as macro %}
{% include "MediaLibrary/Resources/views/BackendMediaGroupsHelper.html.twig" %}
{% form_theme form "Layout/Templates/FormLayout.html.twig" %}

{{ form_start(form) }}
<div class="row fork-module-content">
<div class="col-md-12">
  <div>
    <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
      <li role="presentation" class="active">
        <a href="#tabContent" aria-controls="tabContent" role="tab"
           data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
      </li>
      <li role="presentation">
        <a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
      </li>
      <li role="presentation">
          <a href="#information" aria-controls="information" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tabContent">
        <div class="row">
          {{ form_row(form.active) }}
          {{ form_row(form.title) }}
          {{ form_row(form.link) }}
          {{ form_row(form.description) }}

        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="picture">
          <div class="row">
            {{ form_row(form.image) }}
            {{ form_row(form.tpl) }}

          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="information">
            <div class="row">
              {{ form_row(form.creator_user_id) }}
              {{ form.vars.value.editor_user_id }}
              {% if (form.vars.value.editor_user_id) != '' %}
              rty
              {% endif %}
                {{ form_row(form.editor_user_id) }}
                <hr>

                {{ form_row(form.date) }}
                {{ form_row(form.edited_on) }}
                
                <hr>
                {{ form_row(form.views_count) }}
            </div>
          </div>
    </div>


    <div class="btn-toolbar">
      {% if form.vars.value.id > 0 %}
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-danger" id="blog-delete" data-toggle="modal"
                  data-target="#confirmDelete">
            <span class="fa fa-trash-o"></span>
            {{ 'lbl.Delete'|trans|ucfirst }}
          </button>
        </div>
      {% endif %}
      <div class="btn-group pull-left" role="group">
        {{ macro.buttonIcon( geturl('index'), 'plus-square', 'lbl.Cancel'|trans|ucfirst) }}
      </div>
      <div class="btn-group pull-right" role="group">
        <button id="addButton" type="submit" name="add" class="btn btn-primary">
          <span class="fa fa-plus-square"></span>{{ 'lbl.Save'|trans|ucfirst }}
        </button>
      </div>
    </div>
  </div>
</div>
</div>
{{ form_end(form) }}
{%include "EnerBanners/Layout/Templates/js.html.twig" %}